{% extends 'backend/admin_base.html' %}
{% load static %}


{% block content %}


<div class="box_general padding_bottom">

<div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
			<div class="header_box version_2">
				<h2><i class="fa fa-bar-chart"></i>my graph</h2>
			</div>
		 <canvas id="myAreaChart" width="716" height="214" style="margin: 45px 0px 15px; display: block; width: 716px; height: 214px;" class="chartjs-render-monitor"></canvas>
		</div>


{% endblock %} 
