{% extends 'backend/admin_base.html' %}
{% load static %}


{% block content %}


    <div class="container-fluid">
		<div>
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">My Dashboard</li>
            </ol>
			</div>
			<br>
			<br>
			<br>
            <!-- Icon Cards-->
                
            <!-- /cards -->
            <h2></h2>
             
                <div class="box_general padding_bottom ">
                    <div class="header_box version_2">
                        <h2><i class="fa fa-pencil"></i>View Property Type</h2>
                    </div>
                       
                       <table class="table">
                           <tr>
                               <th>Property Name</th>
                               <th>Property Description</th>
                               <th colspan="3"> Action </th>
                           </tr>
                           {% if type %}
                                {% for v in type %}
                                    <tr>
                                        <td>{{ v.name }}</td>
                                        <td>{{ v.description }}</td>
                                        <td> <a href="{% url 'backend:edit_property_type' v.id  %}">Edit</a></td>
                                        <td> <a href="{{ v.id }}">Delete</a></td>
                                        <td> <a href="{{ v.id }}">View</a></td>
                                    </tr>
                                {% endfor %}

                           {% endif %}
                       </table>
                        
					<br>
					<br>
					<br>
					
                </div>
        </div>
{% endblock %} 