{% extends 'admin/admin_base.html' %}
{% load static %}


{% block content %}


    
		<!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Property Name</th>
                  <th>Property price</th>
                  <th>property image1</th>
                  <th>Year Built</th>
                  <th>Property Type</th>
                  <th>Location</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Property Name</th>
                  <th>Property price</th>
                  <th>property image1</th>
                  <th>Year Built</th>
                  <th>Property Type</th>
                  <th>Location</th>
                  
                </tr>
              </tfoot>
              <tbody>
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
                 <tr>
                  <td>Alabian Solution</td>
                  <td>#789000000</td>
                  <td>image 1 comes in here</td>
                    <td>18-03-2021</td>
                  <td>Edinburgh</td>
                  <td>Lagos Ikeja</td>
                 <th>  
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				      <a href="#0" class="btn_1 pull-right bg-warning">Aprove</a>
				    
				        </th>
                </tr>
				
				
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
	  <!-- /tables-->

    
{% endblock %} 