{% extends 'admin/admin_base.html' %}
{% load static %}


{% block content %}


    
		<!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>profile information table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>SN</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>phone</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>biography</th>
                  <th>website</th>
                 
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>SN</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th> image</th>
                  <th>Profile info</th>
                  <th></th>
               
                  
                </tr>
              </tfoot>
              <tbody>
                 <tr>
                  <td>1</td>
                  <td>Prof Ben</td>
                  <td>Alabian </td>
                  <td>image 1 comes in here</td>
                  <td>professor of python in Lagos Ikeja</td>
                   <th>
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				  </th>
                </tr>
				
                 <tr>
                  <td>1</td>
                  <td>Prof Ben</td>
                  <td>Alabian </td>
                  <td>image 1 comes in here</td>
                  <td>professor of python in Lagos Ikeja</td>
                   <th>
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				  </th>
                </tr>
				
                 <tr>
                  <td>2</td>
                  <td>Prof Ben</td>
                  <td>Alabian </td>
                  <td>image 1 comes in here</td>
                  <td>professor of python in Lagos Ikeja</td>
                   <th>
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				  </th>
                </tr>
				
                 <tr>
                  <td>3</td>
                  <td>Prof Ben</td>
                  <td>Alabian </td>
                  <td>image 1 comes in here</td>
                  <td>professor of python in Lagos Ikeja</td>
                   <th>
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				  </th>
                </tr>
				
                 <tr>
                  <td>4</td>
                  <td>Prof Ben</td>
                  <td>Alabian </td>
                  <td>image 1 comes in here</td>
                  <td>professor of python in Lagos Ikeja</td>
                   <th>
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				  </th>
                </tr>
				
                 <tr>
                  <td>5</td>
                  <td>Prof Ben</td>
                  <td>Alabian </td>
                  <td>image 1 comes in here</td>
                  <td>professor of python in Lagos Ikeja</td>
                   <th>
				      <a href="#0" class="btn_1 btn bg-primary">Edit</a>
				      <a href="#0" class="btn_1 bg-success">View</a>
				      <a href="#0" class="btn_1 ">Delete</a>
				  </th>
                </tr>
				
				
				
				
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
	  <!-- /tables-->
{% endblock %} 