<div class="col-lg-4">

    <div class="bg-white widget border rounded">

        <h3 class="h4 text-black widget-title mb-3">Contact Agent</h3>
        <form action="" class="form-contact-agent">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" id="phone" class="btn btn-primary" value="Send Message">
            </div>
        </form>
    </div>

    <div class="bg-white widget border rounded">
        <p style="text-align: center;">Share on</p>
        <a href="#">
            <p class="icon-facebook" style="color: white; background-color: rgb(0, 0, 255); padding: 10px;
            text-align: center;border-radius: 50px; font-size: 30px;"></p>
        </a>
        <a href="#">
            <p class="icon-twitter" style="color: white; background-color: rgb(177, 177, 255); padding: 10px;
            text-align: center;border-radius: 50px; font-size: 30px;"></p>
        </a>
        <a href="#">
            <p class="icon-instagram" style="color: white; background-color: rgb(255, 11, 202); padding: 10px;
            text-align: center;border-radius: 50px; font-size: 30px;"></p>
        </a>
    </div>

    <div class="bg-white widget border rounded">

        <h3 class="h4 text-black widget-title mb-3 text-center">Filter</h3>
        <form action="" class="form-contact-agent">
            <div class="form-group">
                <label for="name">Property Type</label>
                <select name="" id="" class="form-control">
                    <option value="">Terrace</option>
                    <option value="">Flat</option>
                    <option value="">Duplex</option>
                    <option value="">Mini Flat</option>
                    <option value="">Bungalow</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Offer Type</label>
                <select name="" id="" class="form-control">
                    <option value="">Buy</option>
                    <option value="">Rent</option>

                </select>
            </div>
            <div class="form-group">
                <label for="phone">Location</label>
                <select name="" id="" class="form-control">
                    <option value="">Lagos</option>
                    <option value="">Lekki</option>
                    <option value="">Magodo</option>
                    <option value="">Ikorodu</option>
                    <option value="">Banana Island</option>
                    <option value="">Ikeja</option>
                    <option value="">Ogudu</option>
                    <option value="">Apapa</option>
                    <option value="">Mowe</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" id="phone" class="btn btn-primary" value="Search">
            </div>
        </form>
    </div>

</div>